{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="container">



  <div class="p-5 text-center bg-body-secondary  my-5">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Edit {{ cafe.name }}!</h1>
      <p class="col-lg-8 mx-auto lead">
        Refine the cafe experience by effortlessly editing cafe details with a simple click – your contribution keeps our directory accurate and up-to-date.
      </p>
    </div>
  </div>



      <!-- This is where your WTForm will go -->
      {{ render_form(form, novalidate=True) }}

	  <p class="space-above my-5"><a href="{{ url_for('home') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}